{
	email {$ACME_EMAIL}
}

(common) {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}

{$HSS_DOMAIN} {
	import common
	reverse_proxy heatsink:8080 {
		transport http {
			read_timeout 120s
		}
	}
}

{$PCB_DOMAIN} {
	import common
	reverse_proxy pcb:8081 {
		transport http {
			read_timeout 120s
		}
	}
}

{$EDH_DOMAIN} {
	import common
	request_body {
		max_size 120MB
	}
	reverse_proxy datahealth:8082 {
		transport http {
			read_timeout 300s
		}
	}
}

{$EDS_DOMAIN} {
	import common
	request_body {
		max_size 120MB
	}
	reverse_proxy standardizer:8083 {
		transport http {
			read_timeout 300s
		}
	}
}

{$SMD_DOMAIN} {
	import common
	request_body {
		max_size 120MB
	}
	reverse_proxy simmeta:8084 {
		transport http {
			read_timeout 300s
		}
	}
}

{$UDR_DOMAIN} {
	import common
	request_body {
		max_size 50MB
	}
	reverse_proxy udr:8085 {
		transport http {
			read_timeout 600s
		}
	}
}

{$IHL_DOMAIN} {
	import common
	reverse_proxy inverse:8086 {
		transport http {
			read_timeout 120s
		}
	}
}

{$PFL_DOMAIN} {
	import common
	request_body {
		max_size 220MB
	}
	reverse_proxy preflight:8087 {
		transport http {
			read_timeout 180s
		}
	}
}

{$MQA_DOMAIN} {
	import common
	request_body {
		max_size 220MB
	}
	reverse_proxy mesh:8088 {
		transport http {
			read_timeout 300s
		}
	}
}

{$CMP_DOMAIN} {
	import common
	request_body {
		max_size 320MB
	}
	reverse_proxy compare:8089 {
		transport http {
			read_timeout 300s
		}
	}
}

{$LIN_DOMAIN} {
	import common
	request_body {
		max_size 320MB
	}
	reverse_proxy lineage:8090 {
		transport http {
			read_timeout 180s
		}
	}
}

{$IOP_DOMAIN} {
	import common
	request_body {
		max_size 520MB
	}
	reverse_proxy interop:8091 {
		transport http {
			read_timeout 300s
		}
	}
}
